out
node_modules
client/server
.vscode-test
*.vsix
gen
client/testFixture/obj
server/coverage
client/coverage
coverage
resources/obj/
server/src/parser/.idea/

.DS_Store
server/.DS_Store
server/bin
client/.DS_Store
**/*.iml
server/src/parser/.idea

server/tests/t3testgames/game1/obj
server/tests/t3testgames/game1/*.t3

**/*.t3